<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="0.1.0">
    <uses-sdk android:minSdkVersion="17" android:targetSdkVersion="17" />
    <application android:label="OnLoopio tests"><uses-library android:name="android.test.runner" /></application>
    <instrumentation android:name="io.onloopio.OnLoopioTestRunner" android:targetPackage="io.onloopio" />
    <instrumentation android:name="io.onloopio.UsbLibraryTest" android:targetPackage="io.onloopio" />
    <instrumentation android:name="io.onloopio.FeedbackDeviceProbe" android:targetPackage="io.onloopio" />
</manifest>
