<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools" package="io.onloopio" android:versionCode="17" android:versionName="0.10.1">
    <uses-sdk android:minSdkVersion="17" android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- The Y1 firmware embeds this HOME as a system application. -->
    <uses-permission android:name="android.permission.SHUTDOWN" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.REBOOT" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SET_TIME" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SET_TIME_ZONE" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.hardware.wifi" android:required="false" />
    <application android:name=".OnLoopioApplication" android:label="OnLoopio" android:icon="@drawable/icon" android:theme="@android:style/Theme.Holo.NoActionBar"
        android:allowBackup="false">
        <activity android:name=".ui.DownloadsActivity" android:exported="false" />
        <activity android:name=".ui.CacheSettingsActivity" android:exported="false" />
        <activity android:name=".ui.SyncSettingsActivity" android:exported="false" />
        <activity android:name=".ui.PlaylistActivity" android:exported="true" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.SettingsActivity" android:exported="false" />
        <activity android:name=".ui.BluetoothActivity" android:exported="false" />
        <service android:name=".player.PlaybackService" android:exported="false" />
        <service android:name=".sync.PlaylistSyncService" android:exported="false" />
        <service android:name=".library.MusicLibraryService" android:exported="false" />
        <receiver android:name=".library.MusicMountReceiver" android:exported="false">
            <intent-filter><action android:name="android.intent.action.BOOT_COMPLETED" /></intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />
                <action android:name="android.intent.action.MEDIA_REMOVED" />
                <action android:name="android.intent.action.MEDIA_BAD_REMOVAL" />
                <action android:name="android.intent.action.MEDIA_SHARED" />
                <data android:scheme="file" />
            </intent-filter>
        </receiver>
        <receiver android:name=".sync.SyncReceiver" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".player.MediaButtons" android:exported="true">
            <intent-filter><action android:name="android.intent.action.MEDIA_BUTTON" /></intent-filter>
        </receiver>
        <receiver android:name=".device.PowerReceiver" android:exported="false">
            <intent-filter><action android:name="android.intent.action.BOOT_COMPLETED" /></intent-filter>
        </receiver>
    </application>
</manifest>
